.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    padding: 20px;
    width: 100%;
}

.card-slot {
    display: flex;
    flex-direction: column;
    width: 160px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card-details {
    margin-top: 8px;
    padding: 15px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    background-color: #fafafa;
    text-align: center;
    font-size: calc(10px + 2vmin);
}

.selected {
    color: #008000;
    font-weight: bold;
    border: 2px solid #008000!important;
}


label {
    margin: 3px;
    text-align: center;
}

.evaluation-result {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 50px;
}